@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700);

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #25282a;
  color: aliceblue;
  font-size: 1.3em;
  box-sizing: border-box;
}

._container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__wrapper {
  width: 60%;
}

@media (max-width: 767px) {
  .slider__wrapper {
    width: 90%;
  }
}
@media (min-width: 1441px) {
  .slider__wrapper {
    width: 41em;
  }
}


.slider__wrapper>input {
  display: none;
}

.slider__wrapper .slider__dots {
  display: flex;
  justify-content: end;
  align-self: flex-start;
}

@media (max-width: 767px) {
  .slider__wrapper .slider__dots {
    align-self: center;
  }
}

.slider__wrapper label {
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__text {
  transition: all 0.5s linear;
  height: 4em;
}

@media (max-width: 767px) {
  .slider__control {
    flex-direction: column-reverse;
  }

  .slider__text {
    align-self: start;
    margin-bottom: 1em;
    height: 1em;
  }

  .slider__dots {
    margin-bottom: 1em;
  }
}

.slider__wrapper label span {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  transition: background ease-in-out 0.5s, transform ease-in-out 0.2s;
  background-color: #7faae8;
}



.slider__wrapper label:hover span {
  background: #fff;
}

.slider__wrapper label:active span {
  transform: scale(1.3);
}

#slider__item_1:checked~.slider__control .slider__dots label:nth-of-type(1) span,
#slider__item_2:checked~.slider__control .slider__dots label:nth-of-type(2) span,
#slider__item_3:checked~.slider__control .slider__dots label:nth-of-type(3) span,
#slider__item_4:checked~.slider__control .slider__dots label:nth-of-type(4) span,
#slider__item_5:checked~.slider__control .slider__dots label:nth-of-type(5) span {
  background: transparent;
  border: 0.1em solid #7faae8;
  width: 0.6em;
  height: 0.6em;
}

.slider__track {
  display: flex;
  overflow: hidden;
  max-height: 25em;
  margin-bottom: 1em;
  background-color: #4e4e4e56;
  border-radius: 0.5em;
  box-shadow: 0 0 1em #1f1f1f;
}

@media (max-height: 750px) {
  .slider__track {
    max-height: 15em;
  }
}

.slider__images {
  display: flex;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.slider__image {
  max-height: 100%;
  flex: 0 0 100%;
  text-align: center;
}

.slider__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.5s linear;
}

.slider__image_1 img,
.slider__image_4 img,
.slider__image_5 img {
  object-fit: cover;
}

.slider__image_3 img {
  height: 106%;
}

.slider__text div {
  display: none;
}

#slider__item_1:checked~.slider__track>.slider__images {
  transform: translateX(0);
}

#slider__item_2:checked~.slider__track>.slider__images {
  transform: translateX(-100%);
}

#slider__item_3:checked~.slider__track>.slider__images {
  transform: translateX(-200%);
}

#slider__item_4:checked~.slider__track>.slider__images {
  transform: translateX(-300%);
}

#slider__item_5:checked~.slider__track>.slider__images {
  transform: translateX(-400%);
}

#slider__item_1:checked~.slider__control .slider__text>.slider__text_1,
#slider__item_2:checked~.slider__control .slider__text>.slider__text_2,
#slider__item_3:checked~.slider__control .slider__text>.slider__text_3,
#slider__item_4:checked~.slider__control .slider__text>.slider__text_4,
#slider__item_5:checked~.slider__control .slider__text>.slider__text_5 {
  animation: swipeText 800ms cubic-bezier(0.77, 0, 0.175, 1);
  animation-fill-mode: forwards;
  display: inline-block;
}

@keyframes swipeText {
  0% {
    transform: translateX(4em);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}